<main class="container">
  <div class="row">
    <div class="col-12 text-center">
      <img src="./assets/img/—Pngtree—yellow bread sandwich burger_4543060.png" alt="burger">
      <h1>Eat Da Burger!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">

    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <br>
      
      <form id="burger-form" action="/api/burger/new" method="post">
        <h5>Enter a burger you want to eat then click the "Add Burger" button!</h5>
        <input type="text" id="burger-name" name="burgerName">
        <button type="submit" class="btn btn-success">Add Burger</button>
      </form>
    </div>

  </div>
  <br>

</main>